header {
    background: #323232;
    height: 63px;
    position: relative;
}

header:after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-top: 25px solid #323232;
}

.logo-img {
    margin: -23px 26px;
}

il.menu-item {
    margin: 0 8px;
}

.nav-bar {
    position: absolute;
    top: 31px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 11px;
    margin: 0 4px;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 100%;
    border-width: 1px;
    background: rgb(71, 76, 95);
    display: inline-block;
    margin: 3px 0;
}

.portfolio-buffer-upper {
    margin: 132px auto;
}

.portfolio-buffer-lower {
    margin: 126px auto;
}

.row {
    margin: -41px auto;
    text-align: center;
}

.hex-outer {
    margin: 0 8px;
	width: 180px;
    height: 206px;
    transform: rotate(60deg);
    overflow: hidden;
    display: inline-block;
}

.hex-middle {
	width: 180px;
    height: 206px;
    transform: rotate(60deg);
    overflow: hidden;
    display: inline-block;
}

.hex-inner {
	width: 180px;
    height: 206px;
    transform: rotate(-120deg);
    overflow: hidden;
    display: inline-block;
}

img.sample {
    margin: -12px -22px;
}

.about {
    background: rgb(49,179,152);
    position: relative;
}

.autor {
    position: absolute;
    top: 68px;
    left: 50%;
    margin-left: -398px;
}

.photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-left: -194px;
    padding-top: 60px;
    font-size: 33px;
    position: relative;
    left: 50%;
    color: rgb(215, 252, 245);
}

h2 {
    margin-left: -192px;
    padding-top: 2px;
    font-size: 20px;
    position: relative;
    left: 50%;
    color: rgb(32, 129, 109);
}

.autor-descr {
    line-height: 1.6;
    margin-left: -191px;
    padding-top: 14px;
    font-size: 14px;
    position: relative;
    left: 50%;
    color: rgb(215, 252, 245);
    width: 580px;
}

.social {
    margin-left: 245px;
    padding-top: 33px;
    position: relative;
    left: 50%;
    padding-bottom: 64px;
}

.social > img {
    margin: 0 -2px;
}