header {
    background: #323232;
    height: 63px;
    position: relative;
}

* {
    font-family: Helvetica;
    font-weight: 200;
}

strong {
    font-weight: 900;
}

header:after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-top: 25px solid #323232;
}

.logo-img {
    margin: -23px 29px;
}

il.menu-item {
    margin: 0 6px;
    color: rgb(214, 214, 214);
}

#blue {
    color: rgb(46, 179, 152);
}

a {
    text-decoration: none;
}

.nav-bar {
    position: absolute;
    top: 31px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 10px;
    margin: 0 4px;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 100%;
    border-width: 1px;
    background: rgb(71, 76, 95);
    display: inline-block;
    margin: 3px 0;
}

.portfolio-buffer-upper {
    margin: 132px auto;
}

.portfolio-buffer-lower {
    margin: 126px auto;
}

.row {
    margin: -41px auto;
    text-align: center;
}

.hex-outer {
    margin: 0 8px;
	width: 180px;
    height: 206px;
    transform: rotate(60deg);
    overflow: hidden;
    display: inline-block;
}

.hex-middle {
	width: 180px;
    height: 206px;
    transform: rotate(60deg);
    overflow: hidden;
    display: inline-block;
}

.hex-inner {
	width: 180px;
    height: 206px;
    transform: rotate(-120deg);
    overflow: hidden;
    display: inline-block;
}

img.sample {
    margin: -12px -22px;
}

.about {
    background: rgb(49,179,152);
    position: relative;
}

.autor {
    position: absolute;
    top: 68px;
    left: 50%;
    margin-left: -398px;
}

.photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin-left: -194px;
    padding-top: 65px;
    font-size: 30px;
    position: relative;
    left: 50%;
    color: rgb(215, 252, 245);
}

h3 {
    margin-left: -192px;
    padding-top: 2px;
    font-size: 18px;
    position: relative;
    left: 50%;
    color: rgb(32, 129, 109);
}

.autor-descr {
    line-height: 1.6;
    margin-left: -191px;
    padding-top: 14px;
    font-size: 14px;
    position: relative;
    left: 50%;
    color: rgb(215, 252, 245);
    width: 580px;
    text-align: justify;
}

.social {
    margin-left: 245px;
    padding-top: 33px;
    position: relative;
    left: 50%;
    padding-bottom: 64px;
}

a > img {
    margin: 0 -2px;
}

footer {
    background: rgb(50, 50, 50);
    position: relative;
}

.footer-form {
    display: inline-block;
    width: 580px;
    position: relative;
    left: 50%;
    transform: translateX(-390px);
    padding-top: 62px;
    padding-bottom: 41px;    
}

input {
    width: 100%;
    height: 35px;
    margin-top: 17px;
    background: rgb(69, 69, 69);
    border: none;
}

textarea {
    border: none;
    resize: none;
    max-width: 580px;
    margin-top: 15px;
    background: rgb(69, 69, 69);    
}

h2 {
    color: rgb(224, 224, 224);
    font-size: 30px;
}

form > h3 {
    margin-bottom: 5px;
    margin-left: -289px;
    font-size: 18px;
    color: rgb(224, 224, 224);
    text-align: left;
    margin-top: 1px;
}

.btn-send {
    position: relative;
    background: rgb(46, 179, 152);
    width: 90px;
    left: 100%;
    color: rgb(215, 252, 245);
    margin-left: -90px;
    margin-top: 10px;    
}

footer > hr {
    border: none;
    background-color:  rgb(43, 43, 43);
    height: 2px;     
    color: rgb(43, 43, 43);
}

.after-hr {
    padding: 2px 0;
    background: rgb(50, 50, 50);
}

.copyright {
    background: rgb(34, 34, 34);
    padding: 14px 42px;
}

.copyright > p {
    font-size: 13px;
    color: rgb(60, 60, 60);
}

.contacts {
    text-align: justify;
    top: -135px;
    display: inline-block;
    width: 180px;
    position: relative;
    left: 50%;
    transform: translateX(-375px);
    line-height: 1.85;
    font-size: 12px;}

.contacts > p {
    color: rgb(224, 224, 224);
    margin-bottom: 30px;
}

span {    
    color: rgb(224, 224, 224);
}

.icon {
    display: inline-block;
    width: 22px;
}

::placeholder {
    color: rgb(190, 190, 190);
    padding-left : 16px;
    font-size: 13px;
}
::-ms-input-placeholder {
    color: rgb(190, 190, 190);
    padding-left : 16px;
    font-size: 13px;
}
:-ms-input-placeholder {
    color: rgb(190, 190, 190);
    padding-left : 16px;
    font-size: 13px;
}