header {
    background: #323232;
    height: 63px;
    position: relative;
}

header:after {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
	height: 0;
	border-left: 45px solid transparent;
	border-right: 45px solid transparent;
	border-top: 25px solid #323232;
}

.logo-img {
    margin: -23px 26px;
}

il.menu-item {
    margin: 0 8px;
}

.nav-bar {
    position: absolute;
    top: 31px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 11px;
    margin: 0 4px;
}

.dot {
    width: 2px;
    height: 2px;
    border-radius: 100%;
    border-width: 1px;
    background: rgb(71, 76, 95);
    display: inline-block;
    margin: 3px 0;
}

.portfolio-buffer {
    margin: 132px auto;
}

.row {
    margin: -41px auto;
    text-align: center;
}

.hex-outer {
    margin: 0 8px;
	width: 180px;
    height: 206px;
    transform: rotate(60deg);
    overflow: hidden;
    display: inline-block;
}

.hex-middle {
	width: 180px;
    height: 206px;
    transform: rotate(60deg);
    overflow: hidden;
    display: inline-block;
}

.hex-inner {
	width: 180px;
    height: 206px;
    transform: rotate(-120deg);
    overflow: hidden;
    display: inline-block;
}

img.sample {
    margin: -12px -22px;
}